name: CI
on:
  - push
  - pull_request
jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.8'
          - '1.11'
        os:
          - ubuntu-latest
          - macos-latest
          - macos-14
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: julia-actions/setup-julia@5c9647d97b78a5debe5164e9eec09d653d29bd71
        with:
          version: ${{ matrix.version }}
      - uses: julia-actions/cache@2b1bf4d8a138668ac719ea7ca149b53ed8d8401e
      - uses: julia-actions/julia-buildpkg@90dd6f23eb49626e4e6612cb9d64d456f86e6a1c
      - uses: julia-actions/julia-runtest@1e03e0122a598a569004c1e26950e2547b350ec0
        env:
          # bypass DataDeps donwload confirmation (needed for CI)
          DATADEPS_ALWAYS_ACCEPT: true
